.myBg {
  height: 100vh;
  background-color: #251b37;
}

.intro {
  height: 300px;
  display: flex;
  justify-content: end;
  align-items: end;
}

.judul-awal {
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
}
